main > .container {
  padding: 60px 15px 0;
}

p {
  margin: 1em;
}

.bg-cloudpays {
  background-color: #aaa;
}

.bg-orange {
  background-color: #aaa;
}

.bg-orange-softchoice {
  background-color: #aaa;
}

.footer {
  background-color: #fdfdd3;
}

.footer > .container > ul > li {
  margin-left: auto;
  margin-right: auto;
}

.mt-10 {
  margin-top: 6rem;
}
